### Load in Numpy

In [1]:
import numpy as np

#### The basics

In [18]:
a = np.array([1,2,3], dtype='int64')
print(a)

[1 2 3]

In [4]:
b = np.array([[9.0,8.0,7.0],[6.0,5.0,4.0]])
print(b)

[[9. 8. 7.]
 [6. 5. 4.]]

In [9]:
# Get the dimension
    # ndim = number dimensions

a.ndim
b.ndim

2

In [11]:
# Get shape

a.shape
b.shape

(2, 3)

In [20]:
# Get the type

a.dtype
#b.dtype

dtype('int64')

In [22]:
# Get size - 'dtype size' 'int64 = 8bytes'

a.itemsize
#b.itemsize

8

In [23]:
# Get total size

a.nbytes
#b.nbytes

48

### Accessing/Changing specific elements, rows, columns, etc

In [24]:
a = np.array([[1,2,3,4,5,6,7],[8,9,10,11,12,13,14,]])
print(a)

[[ 1  2  3  4  5  6  7]
 [ 8  9 10 11 12 13 14]]

In [25]:
# Get  a specific element [r, c]

a[1,5]

13

In [27]:
# Get a specific row [r, c]

a[0, :]

array([1, 2, 3, 4, 5, 6, 7])

In [28]:
# Get a specific column [r, c]

a[:, 2]

array([ 3, 10])

In [29]:
# [startindex:endindex:stepsize]

a[0, 1:6:2]

array([2, 4, 6])

In [31]:
# substituting an element

a[1,5] = 20
print(a)

a[:, 2] = [1, 2]
print(a)

[[ 1  2  3  4  5  6  7]
 [ 8  9 10 11 12 20 14]]
[[ 1  2  1  4  5  6  7]
 [ 8  9  2 11 12 20 14]]

#### 3-d Example

In [32]:
b= np.array([[[1,2],[2,4]],[[5,6],[7,8]]])
print(b)

[[[1 2]
  [2 4]]

 [[5 6]
  [7 8]]]

In [35]:
# Get specific element (work outside in)
b[0,1,1]

4

In [36]:
#replace 
b[:,1,:] = [[9,9],[8,8]]   # as long as its thesame dimension

In [37]:
b

array([[[1, 2],
        [9, 9]],

       [[5, 6],
        [8, 8]]])

#### Initializing Different Types of Arrays

In [50]:
# All 0s matrix [t, r, c] - 'table,rows,columns'

np.zeros((2,3,3))

array([[[0., 0., 0.],
        [0., 0., 0.],
        [0., 0., 0.]],

       [[0., 0., 0.],
        [0., 0., 0.],
        [0., 0., 0.]]])

In [51]:
#All ones matrix 

np.ones((2,3,4))

array([[[1., 1., 1., 1.],
        [1., 1., 1., 1.],
        [1., 1., 1., 1.]],

       [[1., 1., 1., 1.],
        [1., 1., 1., 1.],
        [1., 1., 1., 1.]]])

In [52]:
# Any other unmber - r, c values

np.full((2,3), 25)

array([[25, 25, 25],
       [25, 25, 25]])

In [53]:
# Any other number (full_like -- copy another array shape/framework)

np.full_like(a,4)

array([[4, 4, 4, 4, 4, 4, 4],
       [4, 4, 4, 4, 4, 4, 4]])

In [54]:
# Random decimal numbers 

np.random.rand(4,2)

array([[0.14545308, 0.26697669],
       [0.95931794, 0.16598289],
       [0.61486428, 0.32692448],
       [0.32096419, 0.97476594]])

In [55]:
# Random Integer values 

np.random.randint(7, size=(3,3))

array([[6, 5, 1],
       [2, 3, 6],
       [0, 3, 5]])

In [56]:
#Identity matrix - Always give a square value
np.identity(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [59]:
arr = np.array([[1,2,3]])
r1 = np.repeat(arr,3, axis=0)
print(r1)

[[1 2 3]
 [1 2 3]
 [1 2 3]]

In [61]:
output = np.ones((5,5))
print(output)

z = np.zeros((3,3))
z[1,1] = 9
print(z)

output[1:4,1:4] = z
print(output)

[[1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]]
[[0. 0. 0.]
 [0. 9. 0.]
 [0. 0. 0.]]
[[1. 1. 1. 1. 1.]
 [1. 0. 0. 0. 1.]
 [1. 0. 9. 0. 1.]
 [1. 0. 0. 0. 1.]
 [1. 1. 1. 1. 1.]]

In [64]:
# Copying array

a = np.array([1,2,3])
b = a.copy()
b[0] = 100

print(a)
print(b)

[1 2 3]
[100   2   3]

#### Mathematics

In [67]:
a = np.array([1,2,3,4])
print(a)

[1 2 3 4]

In [69]:
a + 2

array([3, 4, 5, 6])

In [70]:
a - 2

array([-1,  0,  1,  2])

In [71]:
a * 2

array([2, 4, 6, 8])

In [72]:
a / 2

array([0.5, 1. , 1.5, 2. ])

In [76]:
# Adding arrays

b = np.array([2,3,2,3])

In [77]:
a + b

array([3, 5, 5, 7])

In [78]:
b ** 2

array([4, 9, 4, 9])

In [80]:
# Take the sine

np.sin(a)

array([ 0.84147098,  0.90929743,  0.14112001, -0.7568025 ])

#### Linear Algebra

In [82]:
# In algebra the columns of the 'a' matrix must be equal to the rows of 'b'
a = np.ones((2,3))
print(a)

b = np.full((3,2),2)
print(b)

[[1. 1. 1.]
 [1. 1. 1.]]
[[2 2]
 [2 2]
 [2 2]]